BASE_URL=https://backoffice.ax-stg.lgq-stg.com/

APP_USERNAME=your_username
APP_PASSWORD=your_password

BACKOFFICE_URL=https://backoffice.ax-stg.lgq-stg.com/
ADMIN_USER=your_admin_username
ADMIN_PASS=your_admin_password

FE_AUCTION_URL=https://auction.ax-stg.lgq-stg.com/login
AUCTION_USER=your_auction_email
AUCTION_PASS=your_auction_password

FE_CONDUCTOR_URL=https://conductor.ax-stg.lgq-stg.com/login
CONDUCTOR_USER=your_conductor_email
CONDUCTOR_PASS=your_conductor_password

TEST_SEQUENTIAL=true
