BACKOFFICE_URL=https://backoffice.ax-stg.lgq-stg.com/
ADMIN_USER=your_admin_username
ADMIN_PASS=your_admin_password
TEST_SEQUENTIAL=true
PLAYWRIGHT_CHROMIUM_EXECUTABLE_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe

FE_AUCTION_URL=https://auction.ax-stg.lgq-stg.com/
FE_CONDUCTOR_URL=https://conductor.ax-stg.lgq-stg.com/

AUCTION_USER=your_auction_email
AUCTION_PASS=your_auction_password
AUCTION_USER_2=your_auction_email_2
AUCTION_PASS_2=your_auction_password_2

CONDUCTOR_USER=your_conductor_email
CONDUCTOR_PASS=your_conductor_password
